---
---
/*
Here's kind of the deal with this.
Navigation needs a default state. On desktop that is open, on mobile it is closed.
We can detect in the javascript if it's mobile and close the nav, but at that point it's
already painted and causes ugly flashes. My solution (and please suggest a better one)
is to have a "default" state for the nav. For desktop that is open with the open styles applied.
On mobile, the default state is reversed. So you'll see some media queries that are pretty much
the inverse of their non-media-query counterparts.

If you know a better way, let me know.

For the time being, if you update a style, make sure its conterpart is updated too.
*/
$mobileWidth: 700px;

#logo {
  width: 50px;
}

.n-navbar {
  & {
    width: 0;
    height: 100%;
    background: #333333;
    position: fixed;
    top: 0;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "ProximaNova", "Open Sans";
    color: white;
    font-size: 18px;
    padding-top: 20px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  &.default {
    width: 300px;
    overflow-y: auto;
  }
  /*When the nav bar is closed let content be full width*/
  &+#contentContainer {
    width: calc(100%);
  }
  /*When the nav bar is open, restrict the width of the content container*/
  &.default+#contentContainer {
    width: calc(100% - 300px);
  }
  @media (max-width: $mobileWidth) {
    & {
      width: 100vw;
      overflow-y: scroll;
    }

    &.default {
      width: 0;
      overflow-y: auto;
    }
    /*When the nav bar is closed let content be full width, with no scroll*/
    &+#contentContainer {
      width: calc(100vw);
    }
    /*When the nav bar is open, restrict the width of the content container*/
    &.default+#contentContainer {
      width: calc(100vw);
    }

    & li {
      font-size: 20px;
    }

    & .n-nav-item {
      width: 400px !important;
      max-width: 95vw;
    }
  }

  & ul {
    -webkit-transition: 0.5s ease;
    padding-left: 0;
    width: 300px;
  }

  & .n-nav-item {
    margin-left: -300px;
    -webkit-transition: margin-left 0.5s ease, padding-left 0.5s ease;
    -o-transition: margin-left 0.5s ease, padding-left 0.5s ease;
    transition: margin-left 0.5s ease, padding-left 0.5s ease;
    padding-left: 25px;
    width: 275px;
  }

  &.default .n-nav-item {
    margin-left: 0;
    padding-left: 25px;
    width: 275px;
    background: rgba(207, 10, 44, 0);
  }

  &.default .n-nav-item.active {
    width: 275px;
    background: rgba(207, 10, 44, 1);
  }
  @media (max-width: $mobileWidth) {
    & .n-nav-item {
      margin-left: 0;
      padding-left: 25px;
      width: 275px;
      background: rgba(207, 10, 44, 0);
    }

    & .n-nav-item.active {
      width: 275px;
      background: rgba(207, 10, 44, 1);
    }
  }

  & .n-nav-item.active a {
    color: white !important;
  }

  & .n-nav-item.active {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(207, 10, 44, 1);
  }

  & .nav-link:hover {
    color: #3d3935;
  }

  & .n-top-nav-item {
    font-size: 20px;
    padding-left: 25px !important;
    margin-top: 10px;
  }

  & .n-top-nav-item a {
    color: white !important;
  }

  & ul:first-child {
    margin-top: 0;
  }

  & .n-nav-item a {
    color: #929191;
  }
}
.nav-link {
  color: #CE112D;
}
#topBar {
  background: white;
  padding: 10px;
  position: absolute;
  width: 100%;

  & #logoContainer {
    position: absolute;
    right: 40px;
    cursor: hand;
    cursor: pointer;
  }

  & #logoContainer img {
    height: 50px;
  }

  & #logoContainer div {
    text-align: right;
  }

  & .n-nav-icon {
    width: 45px;
    height: 45px;
    position: fixed;
    top: calc(25px/2);
    float: left;
    /*background: rgba(61, 57, 53, .7);*/
    left: 0px;
    z-index: 5000;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;

    & span:nth-child(1) {
      top: 0;
    }

    & span:nth-child(2),
    & span:nth-child(3) {
      top: 10px;
    }

    & span:nth-child(4) {
      top: 20px;
    }

    &.default span:nth-child(1) {
      top: 10px;
      width: 0;
      left: 50%;
    }

    &.default span:nth-child(4) {
      top: 10px;
      width: 0;
      left: 50%;
    }

    &.default span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
    }

    &.default span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
    }
    &.default {
      left: 300px;
    }
    @media (max-width: $mobileWidth) {
      &.default {
        left: 0px;
      }
      & {
        left: calc(85vw - 25px);
      }
      & span {
        background: white;
      }

      &.default span:nth-child(1) {
        top: 0;
      }

      &.default span:nth-child(2),
      &.default span:nth-child(3) {
        top: 10px;
      }

      &.default span:nth-child(4) {
        top: 20px;
      }
      //Select all the children separately so the query is more specific and overrides the previous
      &.default span:nth-child(1),
      &.default span:nth-child(2),
      &.default span:nth-child(3),
      &.default span:nth-child(4), {
        background: #3d3935;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        width: 27px;
        left: 0px;
      }
      &  span:nth-child(1),
      &  span:nth-child(2),
      &  span:nth-child(3),
      &  span:nth-child(4), {
        background: white;
      }
      & span:nth-child(1) {
        top: 10px;
        width: 0;
        left: 50%;
      }
      & span:nth-child(4) {
        top: 10px;
        width: 0;
        left: 50%;
      }

      & span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
      }

      & span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
      }
    }

    & span {
      display: block;
      position: absolute;
      height: 5px;
      width: 27px;
      /*background: white;*/
      background: rgba(61, 57, 53, 1);
      border-radius: 9px;
      opacity: 1;
      -ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      margin-top: 10px;
      margin-left: 9px;
      left: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      -webkit-transition: 0.25s ease;
      -o-transition: 0.25s ease;
      transition: 0.25s ease;
    }
  }
}
