---
---
.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.tabInput {
  position: absolute;
  top:0px;
  left:0px;
  opacity: 0;
}
.tabLabel {
  width: 100%;
  color: #CE112D;
  font-weight: normal;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  margin-left: .2rem;
  padding: .75em 1em;
  font-size: 17px;
  border-radius: .25rem .25rem 0 0;
}
.tabLabel:focus {outline:0;}
.tabInput:target + .tabLabel {
  background: white;
  border-bottom-color: #ccc;
  color: #55595c;
}
.tabLabel:hover {
  border-color: #eceeef #eceeef #ddd;
}
@media (min-width: 600px) {
  .tabLabel {
    width: auto;
  }
}
.tabPanel {
  display: none;
  width: 100%;
}
@media (min-width: 600px) {
  .tabPanel {
    order: 99;
  }
}
.tabInput:target + .tabLabel + .tabPanel {
  display: block;
}

.tabPanel.nojs {
  opacity: 0;
}
