<html>

<head>
  <title>NetSPI Wiki</title>
  <meta name="theme-color" content="#ffffff">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/scss/index.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/scss/nav.css" />
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/index.js"></script>
</head>
<div id="contentWrapper">
  <div id="topBar">
    <div class="n-nav-icon active open">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="logoContainer">
      <img onClick="window.location.href='/'" src="{{site.baseurl}}/assets/images/logo.png" /><br/>
    </div>

  </div>
  <div class="n-navbar active">
    {% include nav.html %}
  </div>
  <div id="contentContainer">
    {{content}}
    <div>{%include footer.html%}</div>
  </div>
</div>

</html>
