<html>

<head>
  <title>NetSPI Wiki</title>
  <meta name="theme-color" content="#ffffff">
  <meta charset="utf-8">
  <link rel="preload" href="{{site.baseurl}}/assets/fonts/segoe-ui-bold.ttf" as="font" type="application/x-font-truetype">
  <link rel="preload" href="{{site.baseurl}}/assets/fonts/segoe-ui.ttf" as="font" type="application/x-font-truetype">
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/scss/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/scss/index.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/scss/nav.css" />
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/index.js"></script>
</head>

<body>
  <div class="mobile"></div>
  <div id="contentWrapper">
    <div id="topBar">
      <div class="n-nav-icon default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div id="logoContainer">
        <img onClick="window.location.href='{{site.baseurl}}'" src="{{site.baseurl}}/assets/images/logo.png" /><br/>
      </div>
    </div>
    <div class="n-navbar default">
      {% include nav.html %}
    </div>
    <div id="contentContainer">
      {{content}}
      <div>{%include footer.html%}</div>
    </div>
  </div>
</body>

</html>
