---
layout: default
customJS: tab.js
---
<div id="tabs" class="tabs nojs">
{%for tab in page.tabs%}
{%if forloop.index==1%}
  <input class="input" name="tabs" type="radio" id="{{tab.shortName}}Tab" checked/>
{%else%}
  <input class="input" name="tabs" type="radio" id="{{tab.shortName}}Tab"/>
{%endif%}
<label class="label" onClick="updateTab('{{tab.shortName}}')" for="{{tab.shortName}}Tab">{{tab.title}}</label>
<div class="panel">
     {%include_relative {{tab.fileName}}%}
</div>
{%endfor%}
  <script>
  //Append "Tab" to get the element ID. We don't put "Tab" in the hash because then it tries to jump to the element.
  if (u = window.location.hash.split('#')[1]) {
    document.getElementById(u+"Tab").checked=true;
  } else {
    document.getElementById('{{page.tabs[0].shortName}}Tab').checked=true;
  }
    document.getElementById('tabs').classList.remove('nojs');
  </script>
</div>
